.AboutMe{
  text-align: left;
  background-color: #f8f9fc;
}
.mine{
margin-top: calc(4em + 1vh);
box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 600px) {
  /* For tablets: */
  .mine{
  margin-top: calc(1.5em + 1vh);
  }
  .AboutText{
    padding-top: calc(1em + 1vh);
  }
  .AboutMe .icons{
    padding-top: 1em;
  }
  .AboutText p{
    margin: 5px;

    font-size: calc(0.5em + 1vw);
  }
}
@media only screen and (min-width: 601px) {
  /* For tablets: */

  .AboutText{
    padding-top: calc(4em + 1vh);
  }
  .AboutText p{
    margin: 5px;
    font-size: calc(0.6em + 1vw);
  }
  .AboutMe{
    padding: 1em 5em;
  }
}
.AboutText{
font-family: 'Crimson Text', serif;
}
.AboutText h5{
  padding-bottom: 12px;
  color: red;
  font-weight: bold;
}
.AboutText h3 span{
  padding-bottom: 12px;
  color: black;
  font-weight: bold;
}
.AboutText h3{
  font-size: calc(1.4em + 1vw);
font-family: 'Playfair Display', serif;
padding-bottom:  0.5em;
}
.icons img{
  color: black;
}
.heading span{
  color: red;
  font-weight: bold;
  font-size: calc(0.7em + 1vw);
}
.heading{
  font-size: calc(1.5em  + 0.5vw);
font-family: 'Playfair Display', serif;
}
@media only screen and (max-width: 600px) {
  /* For tablets: */
  .heading span{
    color: red;
    font-weight: bold;
    font-size: calc(1.1em + 1vw);
  }
}

.Home{
  margin-bottom: 0px;
  color: black;
}
.resume{
  font-family: 'East Sea Dokdo', cursive;
  width: 150px;
  height: 2.5em;
}