.Education{
    margin: 5px;
    padding: 5px;
    background-color:  #f2ebd8;
}
.Education h5,h4{
  font-family: 'Bree Serif', serif;
}
.Education p{
  font-size: 1.4em;
}
@media only screen and (max-width: 600px) {
  /* For tablets: */
  .Education h5{
    font-size: 1.1em;
  }
  .Education h4{
    font-size: 1.2em;
  }
  .Education p{
    font-size: 1em;
  }
}
