.icons img{
  color: black;
}
.heading span{
  color: red;
  font-weight: bold;
  font-size: calc(0.8em + 1vw);
}
.heading{
  font-size: calc(1.5em  + 0.5vw);

}

.Home{
  margin-bottom: 0px;
  color: black;
}
