.navbar {
  z-index: 99999;
  background-color: black;
  /*whichever you want*/
  opacity: 0.7;
  /*0.5 determines transparency value*/
  filter: (opacity=50);
}

.nav-item {
  margin: 0px 10px;
}

.nav-link {
  cursor: pointer;
}
.Link{
  color: white;
  background-color: white;
}
