.Projects{
  background-color: #e1e4e8;
}
.iconp{
  height: calc(2em + 1vw);
  padding-top: calc(0.4em + 0.5vw);
}
.Projects h1{
  padding: 0.5em;
  font-size: bold;
  font-family: 'Playfair Display', serif;
}
.Projects h3{
  font-family: 'Bree Serif', serif;
}
