.TechnicalSkills{
  padding-top: 10px;
  height: 500px;
  background-color: #3b4345;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! *//* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! *//* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! *//* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! *//* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.TechnicalSkills h2{
  font-weight: bold;
  padding: 25px;
  color: white;
  font-family: 'Playfair Display', serif;
}
